* {
     font-family: arial,verdana,sans-serif !important;
}

body {
     background: url('/www/images/bg.png');
}

.container {
     background: #000;     
}
.no-padding { padding: 0px;}

/* top */
.navbar-inverse .navbar-brand {
     padding-top: 5px;
     padding-bottom: 0px;
}
.navbar-brand img {max-height: 50px;}
.navbar-nav li {
    font-size: 15px;
}
.navbar-nav a.dropdown-toggle {
     text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #69be28;
}
.navbar-inverse .navbar-nav > li > a {
     color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #69be28; 
}
.navbar-inverse {
     border-radius: 0px;
     height: 87px;
     background-image: url('/www/images/top-bg.png');
}

/* footer */
footer.container {
     background-image: url('/www/images/footer-bg.png');
     background-position: top;
     background-color: #fff;
     background-repeat: repeat-x;
     height: 50px;
     padding-top: 20px;
     text-align: center;
}
footer, footer a { color:#000; }
footer a:hover { color:#69be28; }

/* main */
.main {
     padding-top: 20px;
     background: rgba(0, 0, 0, 0) linear-gradient(#fff, #fff, #fff, #d0d0d0) repeat scroll left center;    
     font: 14px/17px delta_prolight,arial,sans-serif;
     color: #000;
}
.main .title {font: 38px delta_promedium,arial,sans-serif;}
.main article {
     margin-bottom: 50px;
}

/* index */
.index-logo {
     max-width: 200px;
     float: right;
}